@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300');

$dark: #111111;
$d0: $dark;
$d1: lighten($dark, 5%);
$d2: lighten($dark, 10%);
$d3: lighten($dark, 15%);
$d4: lighten($dark, 20%);
$d5: lighten($dark, 25%);
$d6: lighten($dark, 30%);
$d7: lighten($dark, 35%);

$light: #eeeeee;
$l0: $light;
$l1: darken($light, 5%);
$l2: darken($light, 10%);
$l3: darken($light, 15%);
$l4: darken($light, 20%);
$l5: darken($light, 25%);
$l6: darken($light, 30%);
$l7: darken($light, 35%);

$highlight: #009688;

$primary: $light;
$body-bg: $light;

// $enable-rounded: false;
$enable-shadows: true;

@mixin tag {
    padding: 0.5em;
    margin-right: 10px;
    display: inline-flex;
    font-size: 80%;
    align-items: center;
    font-weight: 100;
}

body {
    margin: 0;
    overflow-y: scroll;
}

* {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}

::-webkit-scrollbar {
    background: $d0;
    width: 0.5em;
}
::-webkit-scrollbar-thumb {
    background: $d2;
}

.navPadding {
    height: 4em;
}
nav {
    height: 4em;
    .navbar-brand {
        font-family: 'Roboto Mono', monospace !important;
    }
}
#mainNav {
    background-color: #000000 !important;
}

#searchView {
    #searchPanel {
        padding-top: 4em;
        padding-bottom: 4em;
        * {
            color: $l0;
        }
        background-color: $d0;
        .logo {
            text-align: center;
            font-family: 'Roboto Mono', monospace !important;
        }
        input[type="text"] {
            outline: none;
            border: none;
            font-size: x-large;
            background: $d3 !important;
        }
    }
    #resultsPanel {
        .results {
            margin-top: 1em;
            .result {
                margin-top: 1em;
                // border: 1px solid #333;
                padding: 1em;
                box-sizing: border-box;
                transition: 0.2s;
                cursor: pointer;
                > * {
                    transition: 0.2s;
                }
                .name {
                    font-size: 1.5em;
                }
                .longName {
                    color: $d7;
                }
                .tag {
                    @include tag;
                    background: $l1;
                    color: $l7;
                }
                .description {
                    color: $l5;
                }
                &:hover {
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                    .description {
                        color: $d7;
                    }
                }
                &:focus {
                    outline: auto;
                }
            }
        }
    }
}

#algorithmPageView {
    .header {
        background: $d0;
        .name {
            color: $l0;
            font-size: xx-large;
            font-weight: 100;
        }
        .longName {
            color: grey;
            padding-bottom: 10px;
        }
        .tags {
            padding-bottom: 1em;
            .tag {
                @include tag;
                background: $d1;
                color: $l7;
            }
        }
        .description {
            padding: 1em;
            color: white;
            font-size: larger;
            font-family: 'Open Sans';
            background: $d2;
        }
    }
}

#tagsView {
    .tag {
        display: inline-flex;
        background-color: $l1;
        margin: 1px;
        .count {
            padding: 1em;
            background-color: $l2;
        }
        .name {
            padding: 1em;
        }
    }
}

.markdowned {
    ul {
        padding-left: 2em !important;
        li {
            list-style-type: circle;
        }
    }
    strong {
        font-weight: bolder;
    }
    a {
        text-decoration: none;
        color: $highlight;
    }
    code {
        display: block;
        background: $l1;
        font-family: consolas;
        font-weight: 100;
        padding: 1em 3em 1em 3em;
        opacity: 0.8;
    }
}

        
@import "node_modules/bootstrap/scss/bootstrap";
