@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300');

$dark: #111111;
$d0: $dark;
$d1: lighten($dark, 5%);
$d2: lighten($dark, 10%);
$d3: lighten($dark, 15%);
$d4: lighten($dark, 20%);
$d5: lighten($dark, 25%);
$d6: lighten($dark, 30%);
$d7: lighten($dark, 35%);

$light: #eeeeee;
$l0: $light;
$l1: darken($light, 5%);
$l2: darken($light, 10%);
$l3: darken($light, 15%);
$l4: darken($light, 20%);
$l5: darken($light, 25%);
$l6: darken($light, 30%);
$l7: darken($light, 35%);

$highlight: #009688;

$primary: $light;
$body-bg: $light;

$list-group-bg: transparent;

$jumbotron-bg: $l1;

// $navbar-dark-color: $light;

// $enable-rounded: false;
$enable-shadows: true;
@mixin tag {
    padding: 0.5em;
    margin-right: 10px;
    display: inline-flex;
    font-size: 80%;
    align-items: center;
    font-weight: 100;
}

@mixin darkTag {
    background: $d1;
    color: $l7;
    transition: 0.2s all;
    cursor: pointer;
    &:hover {
        background: $d2;
    }
}

body {
    margin: 0;
    overflow-y: scroll;
}

* {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}

::-webkit-scrollbar {
    background: $d0;
    width: 0.5em;
}
::-webkit-scrollbar-thumb {
    background: $d2;
}

a.disableAnchorStyle {
    background: inherit;
    color: inherit;
    &:hover {
        color: inherit;
        text-decoration: inherit;
    }
}

.widthScrollContainer {
    overflow: hidden;
}

.navPadding {
    height: 4.5em;
}
nav {
    // height: 4em;
    .navbar-brand {
        font-family: 'Roboto Mono', monospace !important;
    }
}
#mainNav {
    background-color: #000000 !important;
}

#searchView {
    #searchPanel {
        padding-top: 4em;
        padding-bottom: 4em;
        * {
            color: $l0;
        }
        background-color: $d0;
        .logo {
            text-align: center;
            font-family: 'Roboto Mono', monospace !important;
            &.undertext {
                color: $l6;
            }
        }
        input[type="text"] {
            outline: none;
            border: none;
            font-size: x-large;
            background: $d1 !important;
        }
    }
    #resultsPanel {
        .results {
            margin-top: 1em;
            .result {
                margin-top: 1em;
                // border: 1px solid #333;
                padding: 1em;
                box-sizing: border-box;
                transition: 0.2s;
                cursor: pointer;
                > * {
                    transition: 0.2s;
                }
                .name {
                    font-size: 1.5em;
                }
                .longName {
                    color: $d7;
                }
                .tag {
                    @include tag;
                    background: $l1;
                    color: $l7;
                }
                .description {
                    color: $l5;
                }
                &:hover {
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                    .description {
                        color: $d7;
                    }
                }
                &:focus {
                    outline: auto;
                }
            }
        }
    }
}

#algorithmPageView {
    .header {
        background: $d0;
        .name {
            color: $l0;
            font-size: xx-large;
            font-weight: 100;
        }
        .longName {
            color: grey;
            padding-bottom: 10px;
        }
        .tags {
            padding-bottom: 10px;
            .tag {
                @include tag;
                @include darkTag;
            }
        }
        .description {
            padding: 1em;
            // margin-bottom: 10px;
            color: $l5;
            font-size: larger;
            font-family: 'Open Sans';
            background: $d1;
        }
        .similarAlgorithms {
            min-width: max-content;
            .similarAlgorithm {
                margin-top: 0.5em;
                margin-right: 0.5em;
                display: inline-flex;
                padding: 0.8em;
                font-size: smaller;
                // margin-right: 10px;
                border-left: 2px solid;
                @include darkTag;
            }
        }
    }
}

#tagsView {
    .tag {
        display: inline-flex;
        background-color: $l1;
        margin: 1px;
        transition: 0.2s all;
        cursor: pointer;
        > * {
            padding: 0.5em;
            @media (min-width: 992px) {
                padding: 1em;
            }
        }
        .count {
            transition: 0.2s all;
            background-color: $l2;
        }
        &:hover {
            background-color: $l2;
            .count {
                background-color: $l3;
            }
        }
        &.dark {
            background-color: $d1;
            .count {
                background-color: $d2;
            }
            &:hover {
                background-color: $d2;
                .count {
                    background-color: $d3;
                }
            }
        }
        
    }
    #tagInfo {
        background-color: $d0;
        color: $l0;
    }
    .selected {
        background: $d0;
        color: $l0;
        border-top: 2px solid $d1;
        .selectedTag {
            cursor: pointer;
            transition: 0.2s all;
            &:hover {
                background-color: $d1;
            }
        }
        .algorithm {
            transition: 0.2s all;
            border-bottom: 2px dashed $d2;
            cursor: pointer;
            .name {
                
            }
            .longName {
                color: $l4;
                display: block;
            }
            &:hover {
                border-bottom: 2px dashed $l2;
            }
        }
    }
}

#listView {
    #listInfo {
        background-color: $d0;
        color: $l0;
    }
    ul {
        a.algorithm {
            transition: 0.2s all;
            &:hover {
                background: $l2;
            }
        }
    }
}

.markdowned {
    ul {
        padding-left: 2em !important;
        li {
            list-style-type: circle;
        }
    }
    strong {
        font-weight: bolder;
    }
    a {
        text-decoration: none;
        color: $highlight;
    }
    code {
        display: block;
        background: $l1;
        font-family: consolas;
        font-weight: 100;
        padding: 1em 3em 1em 3em;
        opacity: 0.8;
    }
}
        
@import "node_modules/bootstrap/scss/bootstrap";
