@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,300');
@import './theme';

$highlight: #009688;

$primary: $light;
$body-bg: $light;
$dark: #000000;

a.disableAnchorStyle {
    background: inherit;
    color: inherit;
    &:hover {
        color: inherit;
        text-decoration: inherit;
    }
}

.widthScrollContainer {
    overflow: hidden;
}

.markdowned {
    ul {
        padding-left: 2em !important;
        li {
            list-style-type: circle;
        }
    }
    strong {
        font-weight: bolder;
    }
    a {
        text-decoration: none;
        color: $highlight;
    }
    code {
        display: block;
        background: $l1;
        font-family: SourceCodeProRegular;
        font-weight: 100;
        padding: 1em 3em 1em 3em;
        opacity: 0.8;
    }
}

* {
    font-family: 'GothamBook', sans-serif;
    font-weight: 100;
}
@font-face {
    font-family: SourceCodeProRegular;
    src: url('/static/fonts/SourceCodePro-Regular.otf.woff');
}
@font-face {
    font-family: SourceCodeProLight;
    src: url('/static/fonts/SourceCodePro-Light.otf.woff');
}

@font-face {
    font-family: GothamBook;
    src: url('/static/fonts/GothamHTF-Book.otf');
}

@import 'bootstrap-material-design/scss/bootstrap-material-design';

// @import 'vue-mdc-adapter/dist/styles';
