@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,300');
@import './theme';

$highlight: #009688;

$primary: $light;
$body-bg: $light;
$dark: #000000;

a.disableAnchorStyle {
    background: inherit;
    color: inherit;
    &:hover {
        color: inherit;
        text-decoration: inherit;
    }
}

* {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}

@import 'bootstrap-material-design/scss/bootstrap-material-design';

// @import 'vue-mdc-adapter/dist/styles';
