@import './theme';

@mixin tag {
    padding: 0.5em;
    margin-right: 10px;
    display: inline-flex;
    font-size: 80%;
    align-items: center;
    font-weight: 100;
}

@mixin darkTag {
    background: $d1;
    color: $l7;
    transition: 0.2s all;
    cursor: pointer;
    &:hover {
        background: $d2;
    }
}