body {
    background-color: #eeeeee;
    margin: 0;
}

* {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}

#searchView {
    #searchBar {
        height: 50%;
        width: 100%;
        top: 0;
        background-color: #111;
        
        align-items: center;
        justify-content: center;
        display: flex;
        
        input[type="text"] {
            outline: none;
            border: none;
            font-size: xx-large;
            padding: 0.5em;
            background: #333;
            width: 75%;
            color: #fff;
        }
    }
}