body {
    background-color: #eeeeee;
    margin: 0;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    background: #111111;
    width: 0.5em;
}
::-webkit-scrollbar-thumb {
    background: #333333;
}


* {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}

.flexCenter() {
    align-items: center;
    justify-content: center;
    display: flex;
}

#searchView {
    #searchBar {
        height: 50%;
        width: 100%;
        top: 0;
        background-color: #111;
        
        .flexCenter;
        
        input[type="text"] {
            outline: none;
            border: none;
            font-size: xx-large;
            padding: 0.5em;
            background: #333;
            width: 75%;
            color: #fff;
        }
    }
    #resultsBar {
        .flexCenter;
        .results {
            width: 75%;
            margin-top: 1em;
            .result {
                margin-top: 1em;
                border: 1px solid #333;
                padding: 1em;
                box-sizing: border-box;
                .name {
                    font-size: 1.5em;
                }
                .longName {
                    color: #757575;
                }
                .description {
                    color: #a9a9a9;
                }
            }
        }
    }
}

#algorithmView {
    .panel {
        .container {
            width: 80%;
            margin: auto;
        }
    }
    .header {
        background: #111111;
        width: 100%;
        padding-bottom: 2em;
        .name {
            padding: 20px;
            padding-bottom: 10px;
            color: #fff;
            font-size: xx-large;
            font-weight: 100;
        }
        .longName {
            color: grey;
            padding-left: 20px;
            padding-bottom: 20px;
        }
        .description {
            padding: 1em;
            color: white;
            font-size: larger;
            font-family: 'Open Sans';
            background: #333333;
        }
    }
}

.markdowned {
    ul {
        padding-left: 2em !important;
        li {
            list-style-type: circle;
        }
    }
    strong {
        font-weight: bolder;
    }
    a {
        text-decoration: none;
        color: #009688;
    }
}