body {
    background-color: #eeeeee;
    margin: 0;
}

* {
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}

.flexCenter() {
    align-items: center;
    justify-content: center;
    display: flex;
}

#searchView {
    #searchBar {
        height: 50%;
        width: 100%;
        top: 0;
        background-color: #111;
        
        .flexCenter;
        
        input[type="text"] {
            outline: none;
            border: none;
            font-size: xx-large;
            padding: 0.5em;
            background: #333;
            width: 75%;
            color: #fff;
        }
    }
    #resultsBar {
        .flexCenter;
        .results {
            width: 75%;
            margin-top: 1em;
            .result {
                margin-top: 1em;
                border: 1px solid #333;
                padding: 1em;
                box-sizing: border-box;
                .name {
                    font-size: 1.5em;
                }
                .longName {
                    color: #757575;
                }
                .description {
                    color: #a9a9a9;
                }
            }
        }
    }
}