<div id="algorithmPageView">
    <div class="navPadding"></div>
    <div class="header">
        <div class="container pb-4">
            <div class="name" ng-bind="algorithm.name"></div>
            <div class="longName" ng-bind="algorithm.longName"></div>
            <div class="tags">
                <span class="tag" ng-repeat="tag in algorithm.tags" ng-click="viewTag(tag)" ng-bind="tag"></span>
            </div>
            <div class="description" ng-bind="algorithm.description"></div>
            <div class="widthScrollContainer">
                <div class="similarAlgorithms">
                    <div class="similarAlgorithm" ng-style="getAlgorithmStyle(similarAlgorithm)" ng-repeat="similarAlgorithm in similarAlgorithmNames" ng-bind="similarAlgorithm" ng-click="viewAlgorithm(similarAlgorithm)"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="container my-4">
            <div class="longDescription markdowned" ng-bind-html="longDescriptionAsHTML(algorithm.longDescription)" ng-show="!!algorithm.longDescription"></div>
            <div class="links">
                <div class="link my-4" ng-repeat="link in algorithm.links" ng-click="viewExternalLink(link)">
                    <img ng-src="{{link.img}}" height=96 width=96></img>
                    <span ng-bind="link.name"></span>
                </div>
            </div>
            <div class="longDescription nopage" ng-show="!algorithm.longDescription">
                <a href="#!/" class="disableAnchorStyle">
                <div class="jumbotron">
                    <h3 class="display-6">Add a page</h3>
                    <p class="lead">This algorithm is in need of a page.</p>
                </div>
            </a>
            </div>
        </div>
    </div>
</div>