<div id="algorithmPageView">
    <div class="navPadding"></div>
    <div class="header">
        <div class="container pb-4">
            <div class="name" ng-bind="algorithm.name"></div>
            <div class="longName" ng-bind="algorithm.longName"></div>
            <div class="tags">
                <span class="tag" ng-repeat="tag in algorithm.tags" ng-bind="tag"></span>
            </div>
            <div class="description" ng-bind="algorithm.description"></div>
        </div>
    </div>
    <div class="body">
        <div class="container py-4">
            <div class="longDescription markdowned" ng-bind-html="longDescriptionAsHTML(algorithm.longDescription)" ng-show="!!algorithm.longDescription"></div>
            <div class="longDescription markdowned" ng-show="!algorithm.longDescription" ng-bind-html="longDescriptionAsHTML(noPageMarkdown)"></div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="links">
                <div class="link" ng-repeat="link in algorithm.links" ng-click="viewExternalLink(link)">
                    <img src="images/Wikipedia's_W.svg"></img>
                    <span ng-bind="link.name"></span>
                </div>
            </div>
        </div>
    </div>
</div>