<div id="algorithmView">
    <div class="panel header">
        <div class="container">
            <div class="name" ng-bind="algorithm.name"></div>
            <div class="longName" ng-bind="algorithm.longName"></div>
            <!--<div class="tags" ng-bind="algorithm.tags"></div>-->
            <div class="description" ng-bind="algorithm.description"></div>
        </div>
    </div>
    <div class="panel body">
        <div class="container">
            <div class="longDescription markdowned" ng-bind-html="longDescriptionAsHTML(algorithm.longDescription)"></div>
        </div>
    </div>
    <div class="panel footer">
        <div class="container">
            <div class="links" ng-bind="algorithm.links"></div>
        </div>
    </div>
</div>