<div id="searchView">
    <div class="navPadding"></div>
    <section id="searchPanel" class="">
        <div class="container">
            <h1 class="logo py-2">algolyze</h1>
            <h6 class="logo undertext py-2">A searchable database of algorithms</h6>
            <div class="form-group py-2">
                <input class="form-control text-center border-bottom-0 bg-dark" placeholder="Search for algorithms" ng-model="searchTerm" ng-change="searchTermChange(searchTerm)" type="text" name="search">
            </div>
        </div>
    </section>
    <section id="resultsPanel">
        <div class="results container">
            <div class="result" role="button" ng-repeat="result in results" ng-click="viewAlgorithm(result.item)" tabindex=0>
                <div class="name" ng-bind="result.item.name"></div>
                <div class="longName" ng-bind="result.item.longName"></div>
                <span class="tag" ng-repeat="tag in result.item.tags" ng-bind="tag"></span>
                <div class="description" ng-bind="result.item.description"></div>
            </div>
        </div>
        <div class="noresults container" ng-show="!!searchTerm&&results.length==0">
            <div class="jumbotron">
                <h2 class="display-5">No results</h2>
                    <p class="lead">Try something different</p>
                </div>
            </div>
    </section>
    <section id="options" ng-show="!searchTerm">
        <div class="container">
            <a href="/tags" class="disableAnchorStyle">
                <div class="jumbotron">
                    <h2 class="display-5">Tags</h2>
                    <p class="lead">Find algorithms by category</p>
                </div>
            </a>
            <!--<a href="/search" class="disableAnchorStyle">-->
            <!--    <div class="jumbotron">-->
            <!--        <h2 class="display-5">Search</h2>-->
            <!--        <p class="lead">Search for algorithms by description</p>-->
            <!--    </div>-->
            <!--</a>-->
            <a href="/list" class="disableAnchorStyle">
                <div class="jumbotron">
                    <h2 class="display-5">List</h2>
                    <p class="lead">View all algorithms</p>
                </div>
            </a>
        </div>
    </section>
</div>