<div id="searchView">
    <div class="navPadding"></div>
    <section id="searchPanel" class="">
        <div class="container">
            <h1 class="logo py-2">algolyze</h1>
            <div class="form-group py-2">
                <input class="form-control text-center border-bottom-0 bg-dark" placeholder="The algorithm you're searching for" ng-model="searchTerm" ng-change="searchTermChange(searchTerm)" type="text" name="search">
            </div>
        </div>
    </section>
    <section id="resultsPanel">
        <div class="results container">
            <div class="result" role="button" ng-repeat="result in results" ng-click="viewAlgorithm(result.item)" tabindex=0>
                <div class="name" ng-bind="result.item.name"></div>
                <div class="longName" ng-bind="result.item.longName"></div>
                <span class="tag" ng-repeat="tag in result.item.tags" ng-bind="tag"></span>
                <div class="description" ng-bind="result.item.description"></div>
            </div>
        </div>
    </section>
</div>