<div id="searchView">
    <div id="searchPanel">
        <div id="contentBar">
            <h1>algolyze</h1>
            <input type="text" name="search" ng-model="searchTerm" ng-change="searchTermChange()"/>
        </div>
    </div>
    <div id="resultsPanel">
        <div class="results">
            <div class="result" ng-repeat="result in results()" ng-click="viewAlgorithm(result)">
                <div class="name" ng-bind="result.name"></div>
                <div class="longName" ng-bind="result.longName"></div>
                <div class="description" ng-bind="result.description"></div>
            </div>
        </div>
    </div>
</div>